.App {
  text-align: center;
}

body {
  background: #e2c489 url('../assets/paperbg.png');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
